.test_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}
.test {
    width: 5%;
    height: 100vh;
}
.one {
    width: 5%;
    height: 100%;
    background-color: red;
    position: fixed;
    left: 0;
}
.two {
    width: 60%;
    height: 100vh;
    background-color: chartreuse;
}

.three {
    width: 30%;
    height: 100vh;
    background-color: beige;
}